.archive-podcast{
    padding: map-get($spacers, 2);
    column-gap: map-get($spacers, 4);
    row-gap: map-get($spacers, 1);

    grid-template-columns: repeat(6, .167fr);
    grid-template-rows: auto auto 1fr;
    .archive-item-link.image-wrapper {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .archive-podcast-top-row{
        grid-column-start: 3;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .archive-item-link.content-wrapper{
        &:hover:not(:has(.post-terms:hover)), //this fixed hover on nested card for featured post
        &:focus-visible,
        &:active:not(:has(.post-terms a:active)){
            .red-outline-hover{
                color: var(--#{$prefix}secondary);
            }
        }
        grid-column-start: 3;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end: 4;
    }
}

