.archive-event-calendar-icon{
    height: 2rem;
    width: 2.2rem;
}


@include media-breakpoint-up('sm'){
    .archive-event-item{
        .archive-item-link:not(:hover):not(:focus){
            .text-event-gray{
                color: #696969
            }
        }

    }
}

.archive-event-item .archive-item-link.text-event-gray:not(:hover):not(:focus){
    color: #696969
}
.archive-event-item .archive-item-link{
    &:focus-visible, &:hover{
        .red-outline-hover{
            color: var(--#{$prefix}secondary) !important;
        }
    }
}

.event-filter-wrapper{
    margin-top: map-get($spacers, 5);
    margin-bottom: map-get($spacers, 5);
    position: sticky;
    .btn-filter-toggle-wrapper{
        position: unset !important;
    }
}

//override display of filters on larger displays, as in events it is minimized to button even on large screens
@include media-breakpoint-up('md'){
    .post-type-archive-event .filters-modal{
        .modal-dialog{
            max-width: unset !important;
            padding-left: map-get($spacers, 5);
            padding-right: map-get($spacers, 5);
            padding-bottom: 5rem; //makes filters look centered
            .modal-content {
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
    }
    body.modal-open{
        &.post-type-archive-event{
            .filters-modal{
                display: flex !important;
                justify-content: center;
                flex-direction: column;
            }
        }
        
    }
}
@include media-breakpoint-down('md'){
    .filter-row-break{
        display: none;
    }
}