$archive-article-text-stroke-width: 6px;
$archive-article-img-outline-width: 5px;

.archive-item {
    &:focus{
        outline: none !important;
    }
    .archive-item-link, .woocommerce-loop-product__link {    
        transition: color $link_transition_speed linear;
   

        .archive-item-image {
            object-fit: cover;
            outline: solid $archive-article-img-outline-width rgba($pink, 0);
            transition: outline $link_transition_speed linear;
            &.placeholder{
                background-color: var(--#{$prefix}secondary);
            }
        }
        &:hover,
        &:focus-visible,
        &:active {
            outline: none !important;
            .red-outline-hover {
                color: $white;
                &::before {
                    opacity: 1;
                }
            }
            .archive-item-image {
                outline: solid $archive-article-img-outline-width $pink;
            }            
        }
        &:active{
            .red-outline-hover {
                color: $white;
                &::before {
                    -webkit-text-stroke: $archive-article-text-stroke-width darken($red, 10);
                }
            }
            .archive-item-image{
                outline: solid $archive-article-img-outline-width darken($pink, 7);
            }
        }
    }
    //fix if post views and date hidden
    .archive-post-top{
        $line-height-small-exact: $line-height-small * $fs-small-scale;
        height: #{$line-height-small-exact}rem !important;
        .icon-podcast{
            svg{
                height: 1em;
                width: 0.625em;
                fill: var(--#{$prefix}gray)
            }
        }
    }
    .item-terms{
        font-size: .75rem;
    }
    .post-authors{
        svg{
            fill: var(--#{$prefix}red);
            height: .8em;
            width: .8em;
            overflow: visible;
        }
        a:not(:active){
            text-decoration-color: var(--#{$prefix}red);
        }
    }

}

.archive-item .archive-item-link .red-outline-hover, .error404 h1 {
    position: relative; //to style the before element, which generates outline
    z-index: 1;
    display: block;
    transition: color $link_transition_speed linear;
    &::before {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        z-index: -1;
        content: attr(data-text) / "";
        -webkit-text-stroke: $archive-article-text-stroke-width $red;
        color: var(--#{$prefix}red);
        transition: opacity $link_transition_speed linear;
    }
}
.archive-item .archive-item-link .red-outline-hover::before {
    opacity: 0;
}


.archive-item:not(.product){
    .archive-item-image{
        aspect-ratio: 1.67 !important;
    }
}

.archive-item-heading{
    font-size: 1.15rem !important;
}
@include media-breakpoint-down('md'){
    .archive-item:not(.archive-podcast-item) .archive-item-heading{
        font-size: 1.3rem !important;
    }
}

.item-excerpt{
    font-size: .95rem;
    & > *{
        margin-bottom: map-get($spacers, 3);
    }
}


.hashtag + .issue-cover{
    margin-top: map-get($spacers, 5) !important;
}

/** Pagination */
.pagination{
    svg{
        width: 1.1rem;
        height: 1.1rem;
    }
    .page-numbers, .page-chevrons{
        height: 2rem;
        line-height: 1rem;
        text-align: center;
        padding: 0.5rem 0.7rem;
        min-width: 2rem;
    }

    a.page-numbers{
        transition: $link-transition-speed linear;
        &:hover{
            color: $white;
            background-color: var(--#{$prefix}red) !important;
        }
    }
}

.post-views{
    transition: opacity .1s ease;
}


/** show more archive block */
.show-more-posts-wrapper{
    overflow: hidden;
    //transition: height .7s ease;
}

@include media-breakpoint-down('xl'){
    .show-more-posts-wrapper.show-more-hide{
        .hide-sm{
            display: none !important;
        }
    }
}
@include media-breakpoint-up('xl'){
    .show-more-posts-wrapper.show-more-hide{
        .hide-xl{
            display: none !important;
        }
    }
}
//keep rows consistent when 3 items per row
@include media-breakpoint-between('md', 'xl'){
    .show-more-posts-wrapper{
        article:nth-child(1n + 16){
            display: none;
        }
    }
}

.term-description > *:not(:last-child){
    margin-bottom: map-get($spacers, 2);
}

.post-query{
    &:not(:last-child){
        margin-bottom: map-get($spacers, 6);
    }
    &:not(:first-child){
        margin-top: map-get($spacers, 6);
    }
}
.post-query + .post-query, .post-query + .inzercia, .inzercia + .post-query,  #darujme-form-wrapper + .post-query, .post-query + #darujme-form-wrapper{
    margin-top: map-get($spacers, 6) !important;
}

.featured-post + .post-query{
    margin-top: map-get($spacers, 6);
}

#le-monde-archive-header-logo{
    img {
        filter: brightness(0);
    }
    a{
        &:focus-visible, &:hover{
            img{
                filter: brightness(1);
            }
        }
    }
}




