
.breadcrumb-nav{
    position: relative;
    &::after{
        content: "";
        position: absolute;
        width: 2rem;
        height: 100%;
        z-index: 1;
        top: 0;
        right: map-get($spacers, 3);
        pointer-events: none;
        background: linear-gradient(90deg, rgba($white, 0) 0%, rgba($white, 1) 100%)
    }
}

.breadcrumb{
    display: flex;

    /** wrapping by scroll without scrollbar */
    flex-wrap: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    white-space: nowrap;

    list-style: none;
    font-size: $font-size-sm;
    color: var(--#{$prefix}gray);
    margin-bottom: 0px;
    padding: 0px;
    .breadcrumb-item + .breadcrumb-item{
        padding-left: map-get($spacers, 2);
        &::before{
            content: "/";
            padding-right: map-get($spacers, 2);
            color: var(--#{$prefix}gray);
        }
    }
    .breadcrumb-item, a:not(:hover){
        color: var(--#{$prefix}gray);
    }
    .breadcrumb-item.active{
        color: var(--#{$prefix}body-color);
    }
    a{
        text-decoration: none;
    }
}
