//buttons
.btn-like, .btn:not(.btn-menu) {
    text-transform: uppercase;
}

.btn,
.btn-like //class that looks like button but does not include hover, focus and active
{
    text-align: center;
    color: var(--#{$prefix}body-color);
    @extend .ff-grotesk;
    @extend .text-decoration-none;
    @extend .rounded-pill;
    @extend .d-inline-block;
    border-style: solid;
    font-size: .9rem;
    border-width: 2px;
    line-height: 1;
    $btn-padding-y: 1.2em;
    white-space: nowrap;
    padding: $btn-padding-top $btn-padding-y $btn-padding-bottom $btn-padding-y;
    transition: $link_transition_speed linear;
    
}

.btn{

    .btn-block{
            @extend .d-block;
            width: 100%;
        }
    svg{
        &.icon-square{
            margin-top: -.15rem;
            vertical-align: middle;
            transition: $link_transition_speed linear;
        }
    }
    &:disabled{
        background-color: var(--#{$prefix}secondary);
        border-color: var(--#{$prefix}secondary);
        color: var(--#{$prefix}gray);
    } 
}
.btn-sm{
    font-size: $small-font-size;
}
.btn-primary{
    background-color: var(--#{$prefix}primary);
    border-color: var(--#{$prefix}primary);
}
.btn-white{
    background-color: var(--#{$prefix}white);
    border-color: var(--#{$prefix}white);
}
.btn-secondary{
    background-color: var(--#{$prefix}secondary);
    border-color: var(--#{$prefix}secondary);
}
.btn-outline{
    background-color: var(--#{$prefix}white);
    border-color: var(--#{$prefix}body-color);
    //when btn class used for filter/page selection
    &.active{
        background-color: var(--#{$prefix}primary);
    }
}
.btn-link{
    background-color: transparent !important;
    border-color: transparent !important;
}
.btn-red{
    background-color: var(--#{$prefix}red);
    border-color: var(--#{$prefix}red);
    color: $white;
    svg{
        fill: $white
    }
}
.btn-close{
    width: 4rem;
    height: 4rem;
    line-height: 3rem;
    padding: 0px;
    background-color: var(--#{$prefix}white);
    border-color: var(--#{$prefix}white);
    svg{
        width: 2rem;
        height: 2rem;
    }
}

@include media-breakpoint-up('sm'){
    .btn.btn-close{
        border-color: transparent !important;
        background: none !important;
        &:hover{
            svg{
                fill: var(--#{$prefix}red);
            }
        }
        &:focus-visible, &:focus{
            svg{
                fill: var(--#{$prefix}red);
                }
        }
        &:active{
            svg{
                fill: darken($red, 10);
            }
        }
    }
}

.btn{
        &:hover:not(:disabled), &:focus-visible, &:focus{
            background-color: var(--#{$prefix}red);
            border-color: var(--#{$prefix}red);
            color: $white;
            svg{
                fill: $white;
            }
        }
        &:active:not(:disabled){
            color: $white;
            background-color: darken($red, 10);
            border-color: darken($red, 10);
        }
        
        &.btn-red{
            &:hover:not(:disabled), &:focus-visible{
                background-color: var(--#{$prefix}primary);
                color: var(--#{$prefix}body-color);
                border-color: var(--#{$prefix}body-color);
    
            }
            &:active:not(:disabled){
                background-color: darken($primary, 7);
                border-color: darken($primary, 7);;
            }
        }
    }
    

.bg-primary, .has-primary-background-color{
    button, a{
        &.btn-red{
            &:hover, &:focus-visible{
                background-color: var(--#{$prefix}white);
                border-color: var(--#{$prefix}body-color);
            }
        }
    }
}
