.icon-square{
    height: 1em; //default for icons, that we can override, most icons are square
    width: 1em;
}

body {
    overflow-x: hidden;
} 

p:last-child{
    margin-bottom: 0px;
}
label{
    line-height: $line-height-small;
}
//default main padding
#main{
    padding-top: map-get($spacers, 5);
    padding-bottom: map-get($spacers, 7);
}

ol, ul {
    li::marker{
        color: var(--#{$prefix}red);
    }
    padding-left: 1em;
}

blockquote{
    
    border-radius: $border-radius;
    background-color: var(--#{$prefix}secondary);
    padding: map-get($spacers, 3) map-get($spacers, 4);
    text-align: left;
    font-size:  1rem !important;
    & > *{
        &:not(:last-child){
            margin-bottom: map-get($spacers, 2);
        }
    }
    & > *:not(cite){
        font-style: italic;
    }
    cite{
        display: block;
        text-align: right;
        font-style: unset;
        &::before{
            content: "– ";
        }
    }
    &:not(:first-child){
        margin-top: map-get($spacers, 5);
    }
    &:not(:last-child){
        margin-bottom: map-get($spacers, 5);
    }
}

.h1, .h2, .h3, .h4, .h5, .h6{
    margin-top: unset;
    margin-bottom: unset;
}


@include media-breakpoint-up('lg'){
    #main{
        padding-top: map-get($spacers, 6);
    }
}

//no main up padding on larger screens with breadcrumbs
@include media-breakpoint-up('md'){
    .breadcrumb-nav + #main{
        padding-top: map-get($spacers, 2);
    }
}

#post-content hr:not(:first-child){
    margin-top: map-get($spacers, 6);
}
#post-content hr:not(:last-child){
    margin-bottom: map-get($spacers, 6);
}

.btn-menu, a {
    transition: color $link_transition_speed linear;
    svg{
        transition: $link_transition_speed linear;
        fill: var(--#{$prefix}body-color);
    }
    &:hover{
        color: var(--#{$prefix}red);
        svg{
            fill: var(--#{$prefix}red);
        }
    }     
    &:active {
        color: darken($red, 10);
        svg{
            fill: darken($red, 10);
        }
    }
    &.text-red{
        &:hover{
            color: $body-color !important;
        }
        &:active {
            color: darken($red, 10) !important;
        }
    }

}

//font family classes
.ff-grotesk{
    font-family: var(--#{$prefix}font-sans-serif);
}

.ff-serif{
    font-family: var(--#{$prefix}body-font-family); 
}

.ff-sans{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.fs-small{
    line-height: $line-height-small;
}
