html {
    background-color: var(--#{$prefix}primary);
}

main{
    overflow: hidden;
}

a {
    transition: color $link_transition_speed linear;
    &:active {
        color: darken($red, 10);
    }
    text-decoration-thickness: 1px;
    &.text-red{
        &:hover{
            color: $body-color !important;
        }
    }
}

strong, .fw-bold, b{
    & a{
        text-decoration-thickness: 2px;
    }
}

.btn:not(.btn-menu) {
    text-transform: uppercase;
}

.btn-primary {
    @include button-variant($primary, $primary, $body-color, var(--#{$prefix}red), var(--#{$prefix}red), $white);
}

//font family classes
.ff-grotesk{
    font-family: var(--#{$prefix}font-sans-serif);
}

.ff-serif{
    font-family: var(--#{$prefix}body-font-family); 
}

.ff-sans{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}