/**
* https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
*/
//
$prefix: 'kptl-';

$spacer: 1rem;
$grid-gutter-width: $spacer;

$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2,
  6: $spacer * 3,
  7: $spacer * 5
);


//default margins
$headings-margin-bottom: map-get($spacers, 4);
$paragraph-margin-bottom: map-get($spacers, 4);


$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 900px,
  lg: 1200px,
  xl: 1400px,
  xxl: 1650px,
);


//font
$font-family-sans-serif: "Kontrast Grotesk", sans-serif;
//$font-family-base: 'Roboto Serif', 'sans-serif';
$font-family-base: "Roboto Serif", serif;
$headings-font-family: "Kontrast Grotesk", sans-serif;

$font-size-root: clamp(1rem, 0.29vi + 0.94rem, 1.19rem);
$fs-small-scale: 0.8;
$font-size-sm: #{$fs-small-scale}rem;
$small-font-size: $font-size-sm;
$line-height-small: 1.35;

$line-height-base: 1.7;
$enable-dark-mode: false;
$enable-container-classess: false;
$enable-rfs:                  false; //managed by root font size
$h1-font-size:                clamp(1.4rem, 0.734vw + 1.089rem, 1.6rem);
$h2-font-size:                1.4rem;
$h3-font-size:                1.2rem;
$h4-font-size:                1.1rem;
$h5-font-size:                1rem;
$h6-font-size:                1rem;
$headings-line-height:        $line-height-small;
$headings-font-weight:        bold;
$headings-margin-bottom:      map-get($spacers, 4) !important;
$headings-color:              inherit;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  "small": $font-size-sm
) !default;



//color
$primary: map-get($colors, "primary");
$red: map-get($colors, "red");
$secondary: map-get($colors, "secondary");
$white: map-get($colors, "white");
$gray: map-get($colors, "gray");
$body-color: #000;

//button
$btn-border-radius: var(--#{$prefix}border-radius-pill);
$btn-font-weight: 700;
$btn-font-size: $small-font-size;
//$btn-font-family: var(--kptl-font-sans-serif);
$btn-padding-x: 1.2rem;
$btn-padding-y: .4rem;
$btn-padding-top: .6em;
$btn-padding-bottom: .45em;
$btn-line-height: $line-height-small;
$link-color: $body-color;
$link-hover-color: $red;

:root{
  --#{$prefix}input-border-color: #{$body-color};
}
$input-btn-padding-x: $btn-padding-x;
$input-btn-padding-y: .6rem;
$input-border-radius: 1.5rem;
$input-border-color: var(--#{$prefix}input-border-color);
$input-border-width: 2px;
$input-height-border: calc(#{$input-border-width} * 2);
$input-focus-border-color: var(--#{$prefix}red);
$focus-ring-box-shadow:none;
$input-focus-box-shadow: none;
$input-btn-line-height: $line-height-small;
$input-font-family: "Roboto", "Helvetica", "Arial", sans-serif;
$form-label-margin-bottom: map-get($spacers, 1);

$form-floating-height:                  add(2.6rem, $input-height-border) !default;
$form-floating-line-height:             $line-height-small;
$form-floating-padding-x:               $btn-padding-x;
$form-floating-padding-y:               .4rem;
$form-floating-input-padding-t:         1.2rem;
$form-floating-input-padding-b:         .4rem;
$form-floating-label-height:            1em !default;
$form-floating-label-opacity:           .65 !default;
$form-floating-label-transform:         scale(.7) translateY(-.3rem) translateX(.6rem);
$form-floating-label-disabled-color:    $gray;
$form-floating-transition:              opacity .1s ease-in-out, transform .1s ease-in-out !default;
$form-select-focus-box-shadow: none;
$form-check-input-checked-bg-color: $white;
$form-check-input-checked-color: $body-color;
$form-check-input-checked-border-color: $body-color;
$form-check-input-border:  2px solid  var(--#{$prefix}input-border-color);
$alert-padding-y: $input-btn-padding-y;


//offcanvas
$offcanvas-bg-color: $primary;
$offcanvas-backdrop-bg: $white;
$offcanvas-border-color: $primary;
$offcanvas-border-width: 0px;
$offcanvas-vertical-height: 40vh;
$modal-backdrop-bg: $offcanvas-backdrop-bg;
$modal-backdrop-opacity: .95;


//close
$btn-close-width:            1em;
$btn-close-height:           $btn-close-width;
$btn-close-padding-x:        .25em;
$btn-close-padding-y:        $btn-close-padding-x;
$btn-close-color:            $red;
$btn-close-opacity:          1;
$btn-close-hover-opacity:    .75;
$btn-close-focus-opacity:    1;
$btn-close-disabled-opacity: .25;


//border radius
$border-radius: 1rem;

//transition speed
$link_transition_speed: .05s;

$s2bs5-focus-border-color: $red;