/**
* https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
*/
//
$prefix: 'kptl-';

$spacer: 1rem;
$grid-gutter-width: $spacer;

$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2,
  6: $spacer * 3,
  7: $spacer * 5
);

//default margins
$headings-margin-bottom: map-get($spacers, 5);
$paragraph-margin-bottom: map-get($spacers, 5);


$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 900px,
  lg: 1200px,
  xl: 1400px,
  xxl: 1650px,
);


//font
$font-family-sans-serif: "Kontrast Grotesk", sans-serif;
//$font-family-base: 'Roboto Serif', 'sans-serif';
$font-family-base: "Roboto Serif", serif;
$headings-font-family: "Kontrast Grotesk", sans-serif;

$font-size-root: clamp(1rem, 0.29vi + 0.94rem, 1.19rem);
$fs-small-scale: 0.8;
$font-size-sm: #{$fs-small-scale}rem;
$small-font-size: $font-size-sm;
$line-height-small: 1.35;

$line-height-base: 1.7;
$enable-dark-mode: false;
$enable-container-classess: false;
$enable-rfs:                  false; //managed by root font size
$h1-font-size:                clamp(1.25rem, 0.734vw + 1.089rem, 1.6rem);
$h2-font-size:                1.4rem;
$h3-font-size:                1.2rem;
$h4-font-size:                1.1rem;
$h5-font-size:                1rem;
$h6-font-size:                1rem;
$headings-line-height:        $line-height-small;
$headings-font-weight:        bold;
$headings-margin-bottom:      map-get($spacers, 4) !important;
$headings-color:              inherit;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  "small": $font-size-sm
) !default;



//color
$primary: map-get($colors, "primary");
$red: map-get($colors, "red");
$secondary: map-get($colors, "secondary");
$white: map-get($colors, "white");
$gray: map-get($colors, "gray");
$body-color: #000;

//button
$btn-border-radius: var(--#{$prefix}border-radius-pill);
$btn-font-weight: 700;
$btn-font-size: $small-font-size;
//$btn-font-family: var(--kptl-font-sans-serif);
$btn-padding-x: 1.2rem;
$btn-padding-y: .4rem;
$btn-line-height: $line-height-small;
$link-color: $body-color;
$link-hover-color: $red;

//offcanvas
$offcanvas-bg-color: $primary;
$offcanvas-backdrop-bg: $white;
$offcanvas-border-color: $primary;
$offcanvas-border-width: 0px;


//close
$btn-close-width:            1em;
$btn-close-height:           $btn-close-width;
$btn-close-padding-x:        .25em;
$btn-close-padding-y:        $btn-close-padding-x;
$btn-close-color:            $red;
$btn-close-opacity:          1;
$btn-close-hover-opacity:    .75;
$btn-close-focus-opacity:    1;
$btn-close-disabled-opacity: .25;


//border radius
$border-radius: 1rem;

//transition speed
$link_transition_speed: .05s;