//replaces containers with content max width and margin auto


//redefine container, as we are not using default bootstrap;
$container_padding: map-get($spacers, 3);
.container {
    width: 100%;
    padding-right: $container_padding;
    padding-left: $container_padding;
}

.container .alignfull{
    margin-left: -$container_padding;
    margin-right: -$container_padding;
}
.alignfull{
    max-width: calc(100% + ($container_padding * 2));
}
/* $grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 900px,
  lg: 1200px,
  xl: 1400px,
  xxl: 1680px,
); */


//600px on 1440px display, for body text in single post
$align-normal-sizes: (
    xs: 600px,
    xxl: 700px, 
);

//800px on 1440px display, for featured images, perex, etc. in single post
$align-wide-sizes: (
    xs: 800px,
    xxl: 900px 
);

//post archives
$align-wider-sizes: (
    md: 1100px,
    xxl: 1320px
);

$align-widest-sizes: (
    lg: 1260px,
    xxl: 1550px
);

@mixin make-sizes($class-name, $sizes-list, $make-columns: false){
    .align#{$class-name}{
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    //columns that can be aligned with specific size by adding one column to the left and one to the right, in .row.justify-content-center
    @if $make-columns{
        .col-align#{$class-name}{
            width: 100%;
        }
    }
    @each $breakpoint, $max-width in $sizes-list{
        @include media-breakpoint-up($breakpoint, $grid-breakpoints){
            .align#{$class-name}{
                max-width: $max-width !important;
            }
            //for block editor
            @if $class-name == 'wide'{
                .wp-block[data-align="wide"]{
                    max-width: $max-width !important;
                    & *{
                        max-width: 100%;
                    }
                    .block-editor-inner-blocks{
                        .wp-block{
                            max-width: inherit !important;
                        }
                    }
                }
            }
            @if $make-columns{
                .col-align#{$class-name}{
                    max-width: $max-width !important;
                    padding-left: 0px !important;
                    padding-right: 0px !important;
                    margin-left: math.div($grid-gutter-width, 2);
                    margin-right:  math.div($grid-gutter-width, 2);
                }
            }
        }
    }
}
/* purgecss start ignore */
@include make-sizes('normal', $align-normal-sizes);
@include make-sizes('wide', $align-wide-sizes);
@include make-sizes('wider', $align-wider-sizes, true);
@include make-sizes('widest', $align-widest-sizes, true);
/* purgecss end ignore */