.featured-post {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: auto 1fr auto auto;
    gap: map-get($spacers, 3);
    .archive-item-link.image-wrapper {
        grid-row-start: 1;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .archive-post-top {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 2;
    }
    .post-headline-excerpt {
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .item-terms {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 2;
        grid-column-end: 3;
        align-self: end;
    }
}

@include media-breakpoint-down("md") {
    .featured-post {
        .archive-item-link.image-wrapper {
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 3;
        }
        .archive-post-top {
            margin-bottom: (-1 * (map-get($spacers, 3)) + (map-get($spacers, 1)));
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 1;
            grid-column-end: 3;
        }
        .post-headline-excerpt {
            margin-top: (-1 * (map-get($spacers, 3)) + (map-get($spacers, 2)));
            grid-row-start: 3;
            grid-row-end: 4;
            grid-column-start: 1;
            grid-column-end: 3;
        }
        .item-terms {
            grid-row-start: 4;
            grid-row-end: 5;
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
}
