
@font-face {
    font-family: "Roboto Serif";
    src: url('../assets/fonts/RobotoSerif-Bold.eot');
    src: url('../assets/fonts/RobotoSerif-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/RobotoSerif-Bold.woff2') format('woff2'),
        url('../assets/fonts/RobotoSerif-Bold.woff') format('woff'),
        url('../assets/fonts/RobotoSerif-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Serif";
    src: url('../assets/fonts/RobotoSerif-Italic.eot');
    src: url('../assets/fonts/RobotoSerif-Italic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/RobotoSerif-Italic.woff2') format('woff2'),
        url('../assets/fonts/RobotoSerif-Italic.woff') format('woff'),
        url('../assets/fonts/RobotoSerif-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Serif";
    src: url('../assets/fonts/RobotoSerif-Regular.eot');
    src: url('../assets/fonts/RobotoSerif-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/RobotoSerif-Regular.woff2') format('woff2'),
        url('../assets/fonts/RobotoSerif-Regular.woff') format('woff'),
        url('../assets/fonts/RobotoSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Serif";
    src: url('../assets/fonts/RobotoSerif-BoldItalic.eot');
    src: url('../assets/fonts/RobotoSerif-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/RobotoSerif-BoldItalic.woff2') format('woff2'),
        url('../assets/fonts/RobotoSerif-BoldItalic.woff') format('woff'),
        url('../assets/fonts/RobotoSerif-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: "Kontrast Grotesk";
    src: url('../assets/fonts/KontrastGrotesk-Regular.woff2') format('woff2'),
    url('../assets/fonts/KontrastGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Kontrast Grotesk";
    src: url('../assets/fonts/KontrastGrotesk-RegularItalic.woff2') format('woff2'),
    url('../assets/fonts/KontrastGrotesk-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Kontrast Grotesk";
    src: url('../assets/fonts/KontrastGrotesk-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/KontrastGrotesk-SemiBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Kontrast Grotesk";
    src: url('../assets/fonts/KontrastGrotesk-SemiBoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
