
body.admin-bar {
    & > .horizontal-nav-wrapper {
        top: 32px;
    }
    & .offcanvas {
        padding-top: 32px;
    }
}

#top-header {
    margin-bottom: -2px; //fix rendering issues
}

#main-logo {
    fill: var(--#{$prefix}red);
}

//use default collapse for hiding top header but override
#top-header.collapse:not(.show) {
    @include visually-hidden;
    display: unset !important;
    nav {
        display: none !important;
    }
}

#main-menu-wrapper {
    .offcanvas-body {
        position: relative;
        .btn-close {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

#main-menu {
    .level-0 > a{
            background-color: var(--#{$prefix}white);
    }
    a{
        text-decoration: none;
    }
    .level-0:not(:last-child){
        margin-bottom: map-get($spacers, 1);
    }
}

#main-menu{
    .menu-item:not(.level-0){
        font-size: .95rem;
    }
}


#main-menu-wrapper{
    ul ul{
        margin-top: map-get($spacers, 3);
        margin-bottom: map-get($spacers, 3);

    }
}

@each $breakpoint, $container-max-width in $container-max-widths {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        .row .col-container {
            max-width: $container-max-width;
        }
    }
}

$horizontal-nav-padding: 6px;
.horizontal-nav-wrapper{
    top: 0;
    z-index: $zindex-fixed;
}
#horizontal-nav {
    padding-top: $horizontal-nav-padding;
    padding-bottom: $horizontal-nav-padding;
    line-height: 1;
}

@include media-breakpoint-down("md") {
    #horizontal-nav {
        padding-top: $spacer / 2;
        padding-bottom: $spacer / 2;
    }
}

#horizontal-nav,
#top-header {
    *:not([class^="offcanvas"]) {
        transition:
            color 0.2s ease,
            fill 0.2 ease,
            background-color 0.2 ease;
    }
}

//shown and hidden with js adding and removing opacity-0
#horizontal-nav-logo {
    transition:
        opacity 0.1s ease,
        fill 0.2 ease;
    svg {
        height: 1.2rem;
        margin-top: -0.2rem;
        margin-bottom: -0.1rem;
    }
}

//centered independently of .row on md-breakpoint
@include media-breakpoint-down("lg") {
    #horizontal-nav-logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

.w-max-content {
    width: max-content; //prevents shifting hamburger "icon" and text to two rows at edge case
}

$menu-btn-padding-x: 0.8em;
$menu-btn-padding-bottom: 0.3em;
$menu-btn-padding-top: 0.4em;

.btn-menu,
#quick-menu .menu-item a {
    line-height: 1;
    @extend .rounded-pill;
    display: inline-block;
    padding: $menu-btn-padding-top $menu-btn-padding-x $menu-btn-padding-bottom $menu-btn-padding-x;
    border: none;
}
#quick-menu .menu-item a{
    font-weight: bold;
}

#quick-menu {
    .menu-item {
        line-height: 1;
        &:not(:last-child) {
            margin-bottom: -2px; //join the bubbles
        }
        a { 
            display: inline-block;
            position: relative;
            text-decoration: none !important;
            background-color: var(--#{$prefix}white);
            //override focus because outline is partially hidden by next element
            &:after{
                @extend .rounded-pill;
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: 1;
            }
            &:focus-visible {
                outline: none;
                &:after{
                    box-shadow: var(--#{$prefix}red) 0 0 0 2px inset;
                }
            }
        }
    }
}

.btn-menu {
    color: var(--#{$prefix}body-color);
    background-color: transparent;
    //padding and negative margin used for focus box-shadow styling
    &:not(.default-x-margin) {
        margin-left: (-$menu-btn-padding-x);
        margin-right: (-$menu-btn-padding-x);
    }
    svg {
        height: 1rem;
        fill: var(--#{$prefix}body-color);
    }

    &:hover {
        .hamburger .line {
            background-color: var(--#{$prefix}red);
        }
    }
    &:active {
        .hamburger .line {
            background-color: darken($red, 10);
        }
    }
}

.hamburger {
    width: 1rem;
    vertical-align: baseline;
    .line {
        height: 2px;
        background-color: $body-color;
        transition: background-color $link-transition-speed linear;
        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }
}

//some adjustment for hamburger "icon" for smaller font size on mobile
 @include media-breakpoint-down("sm") {
    .hamburger .line:not(:last-child) {
        margin-bottom: 3px;

    }
} 

@media screen and (max-width: 340px){
    .main-menu-toggler .text, .btn-podpora{
        display: none !important;
    }
}

//fix usage in row (overriden padding)
//can create problems in wrapping rows
//solution:
//wrap elements in that case in .col

/* .row .btn-menu + .btn-menu {
    margin-left: calc($spacer - $menu-btn-padding-x);
}
//other classes not used in layout, can be generated manually the same way
.row.gx-4 .btn-menu + .btn-menu {
    margin-left: calc(map-get($spacers, 4) - $menu-btn-padding-x);
}
 */
@include media-breakpoint-down("sm") {

    .btn-podpora {
        margin-left: (-$menu-btn-padding-x);
        margin-right: (-$menu-btn-padding-x);

    }
}

@include media-breakpoint-up('sm'){
    .btn-podpora{
        background-color: var(--#{$prefix}white);
    }
}
#offcanvasSearch .btn-close{
    right: map-get($spacers, 3);
    top: map-get($spacers, 3);
}

.header-series-wrapper a{
    margin-left: 0;
}