/* purgecss start ignore */

//widths defined in default_align_max_widths.scss
//is-root-container class for gutenberg editor
#post-content {
    & > *:not(.alignwide):not(.alignwider):not(.alignwidest):not(.wp-block[data-align="wide"]):not(.wp-block[data-align="full"]) {
        @extend .alignnormal;
    }
    h1, h2, h3, h4, h5, h6{
        &:not(:first-child){
            margin-top: map-get($spacers, 6);
        }
    }
}


.main-content,
.is-root-container, #post-content {
    & > *:not(:last-child){
        margin-bottom: map-get($spacers, 5);
    }
}

@include media-breakpoint-up("lg") {
    .bubble-heading.post-title {
        font-size: $h1-font-size;
    }
}

@include media-breakpoint-up("sm") {
    .single-post .post-authors {
        text-transform: uppercase;
    }
}

.secondary-title {
    font-size: 1.1rem;
    line-height: $headings-line-height;
    line-height: $headings-line-height;
}

/* purgecss ignore */
.perex{
    font-size: $h3-font-size;
    font-weight: bold;
    line-height: 1.4 !important;
}

.post-views svg{
    fill: var(--#{$prefix}gray);
    height: 1em;
    width: 1.3em;
    vertical-align: -0.17em;
    margin-left: .3em
}

/* purgecss ignore */
img{
    max-width: 100%;
}

.post-terms{
    //change marker margin
    a::before{
            margin-right: .4em;
    }
}
@include media-breakpoint-up('sm'){
    .single-post {
        .post-authors{
            a{
                color: var(--#{$prefix}red);
                &:hover{
                    color: $body-color !important;
                }
            }
        }
    }
}
/* purgecss end ignore */
