//widths defined in default_align_max_widths.scss
//is-root-container class for gutenberg editor
#post-content {
    & > *:not(.alignwide):not(.alignwider):not(.alignwidest):not(.wp-block[data-align="wide"]):not(.wp-block[data-align="full"]) {
        @extend .alignnormal;
    }
}


.main-content,
.is-root-container, #post-content {
    & > *:not(:last-child){
        margin-bottom: $spacer * 1.5;
    }
}

@include media-breakpoint-down("sm") {
    .bubble-heading.post-title {
        font-size: $h2-font-size;
    }
}

.secondary-title {
    font-size: 1.1rem;
    line-height: $headings-line-height;
    line-height: $headings-line-height;
}

.perex{
    font-size: $h3-font-size;
    font-weight: bold;
    line-height: 1.4 !important;
}

.post-views svg{
    fill: var(--#{$prefix}gray);
    height: 1em;
    width: 1.3em;
    vertical-align: -0.17em;
    margin-left: .3em
}

figure img{
    max-width: 100%;
}

.post-terms{
    //change marker margin
    a::before{
            margin-right: .4em;
    }
}
@include media-breakpoint-up('sm'){
    .post-authors{
        a{
            color: var(--#{$prefix}red);
            &:hover{
                color: $body-color !important;
            }
        }
    }
}
