//widths defined in default_align_max_widths.scss
.main-content > *:not(.align-wide):not(.align-wider):not(.align-widest){
    @extend .align-normal;
}

.main-content > *{
    font-family: "Roboto Serif", serif;
}

.main-content > *:not(:last-child){
    margin-bottom: $spacer * 1.5;
}

.main-content{
    h1, h2, h3, h4, h5, h6{
        font-family: $font-family-base;
    }
}