body.modal-open{
    overflow: hidden;
}

.post-filters .filters-content{
    font-size: .9rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@include media-breakpoint-up('sm'){
    .post-filters{
        position: sticky;
        top: calc(12px + 2.5rem);
        z-index: 1000;
        .btn-filter-toggle, .btn-close{
            display: none !important;
        }
        *[class^="btn"]{
            outline: solid 3px $white;
        }
    }
    .post-filters .filters-content{
        flex-direction: row;
    }
    body.admin-bar .post-filters{
        top: calc(44px + 2.5rem);
    }
}

@include media-breakpoint-down('sm'){
    .post-filters .filters-modal:not(.open){
        display: none !important;
        opacity: 0;
    } 
    .filters-modal{
        transition: opacity .3s ease;
    }
    .post-filters .filters-modal{
        background-color: var(--#{$prefix}primary);
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100%;
        z-index: 1060;
        //font-size: $font-size-sm;
        overflow-x: hidden;
        overflow-y: auto;

    }
    .filters-content{
        align-items: center;
        flex-direction: column;
    }
}