.redakcia-portrait{
    max-height: calc(var(--kptl-initial-vh) * 55);
    transition: max-height .3s ease;
    object-fit: cover;
}
@include media-breakpoint-up('md'){
    .single-redakcia{
        .breadcrumb-nav + #main{
            padding-top: map-get($spacers, 4);
        }
    }
}