#post-content, #podcast-content, .main-content, .is-root-container{
    .event-recording-audio{
        iframe[src*="soundcloud"]{
            border-radius: $border-radius  $border-radius $border-radius 0;
        }
        .wp-block-buttons{
            gap: $spacer;
            .btn {
                min-width: 31%;
                flex-grow: 1;
            };
        }
    }
    .event-recording-video iframe{
        border-radius: $border-radius;
    }

    .event-recording-audio, .event-recording-video, .event-recording-gallery{
        &:not(:first-child){
            margin-top: map-get($spacers, 6);
        }
        &:not(:last-child){
            margin-bottom: map-get($spacers, 6);
        }
        .event-recording-caption{
            margin-top: map-get($spacers, 2);
            *{
                margin-bottom: 0;
            }
             * + *{
                margin-top: map-get($spacers, 2);
             }
        }

    }
}