.kapital-cart-link-wrapper{
    a {
        width: 3rem;
        height: 3rem;
        top: map-get($spacers, 3);
        right: map-get($spacers, 3);

        padding: .5rem;
        display: block;
        svg{
            width: 2rem;
            height: 2rem;
            position: relative;
            left: -.15rem;
        }
    }
    .kapital-cart-quantity-mini-badge{
        opacity: 1;
        @extend .ff-sans;
        top: -.3rem;
        right: -.3rem;
        padding: .2rem .4rem;
        line-height: 1;
    }
}