.woocommerce-MyAccount-navigation ul{
    @extend .row;
    @extend .gx-2;
    @extend .gy-2;
    @extend .list-unstyled;
    @extend .justify-content-center;
    li{
        @extend .col-auto;
        a{
            @extend .btn;
            @extend .btn-outline;
        
        }
        &.is-active a{
            @extend .btn-primary;
        }
    }
}
.woocommerce-address-fields__field-wrapper{
    @extend .row;
    align-items: end;
}
.woocommerce-address-fields{
    button[type="submit"]{
        margin-top: map-get($spacers, 6);
    }
}
.woocommerce-Addresses{
    div {
        width: unset !important;
        flex: unset !important;
    }
}

.woocommerce-MyAccount-content{
   max-width: 900px;
   margin: auto;
    .woocommerce-orders-table{
        @extend .ff-sans;
    }
}
.woocommerce-account .woocommerce{
    @extend .rounded;
    @extend .alignnormal;
    button[type="submit"]{
        @extend .btn;
        @extend .btn-block;
        @extend .btn-form;
        @extend .btn-primary;
    }
    label{
        @extend .ff-grotesk;
    }
    #customer_login{
        .col-1, .col-2{
            width: unset !important;
        }
        >*:not(:last-child){
            margin-bottom: map-get($spacers, 6);
        }
    }
    .lost_reset_password, #customer_login{
        @extend .alignnormal;
        @extend .ff-grotesk;
    }
}
.woocommerce-account .woocommerce, .woocommerce-MyAccount-content, .woocommerce-Addresses{
    & > *:not(:last-child):not(:empty){
        margin-bottom: map-get($spacers, 4);
        margin-top: 0px !important;
    }
}
.woocommerce-form-login{
    @extend .ff-grotesk;
    .woocommerce-button{
        @extend .btn;
        @extend .btn-block;
        @extend .btn-form;
        @extend .btn-primary;
    }
}

.woocommerce label {
    input[type="checkbox"], input[type="radio"]{
        margin-top: .15rem;
        margin-right: map-get($spacers, 2 );
    }
}