.product-cat-row .marker-red {
    font-size: 0.6rem;
    &::before {
        margin-right: 0px;
        vertical-align: 0.2em;
    }
}
.single-product .main{
    padding-top: map-get($spacers, 5) !important;
}
.woocommerce-product-attributes {
    * {
        vertical-align: top;
    }
    td {
        padding-left: map-get($spacers, 3);
    }
}
.single-product {
    .product-wrapper{
        display: grid;
        width: 100%;
        row-gap: map-get($spacers, 6);
        column-gap: map-get($spacers, 7);
        grid-template-columns: .5fr .5fr;
        grid-template-rows: auto auto 1fr;
    }
    .summary {
        > *:not(:first-child){
            margin-top: map-get($spacers, 4);
        }
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .product-gallery{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .woocommerce-tabs{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    form.cart {
        .woonp {
            display: inline-flex !important;
            margin-bottom: map-get($spacers, 3);

            flex-wrap: wrap;
            label {
                width: auto;
            }
            input {
                width: auto;
                flex-grow: 1;
            }
            label, input{
                margin-bottom: map-get($spacers, 1);
            }
        }
    }
    .summary .price{
        line-height: $line-height-small;
        font-size: $h2-font-size;
    }
    .price {
        margin-top: map-get($spacers, 4);
        .amount {
            font-weight: bold;
        }
        del {
            text-decoration-color: var(--#{$prefix}gray);
            .amount {
                font-weight: normal;
                color: var(--#{$prefix}gray);
            }

            &::after {
                content: "";
                display: block;
            }
        }
        ins {
            text-decoration: none;
        }
    }
    .summary .stock {
        margin-top: map-get($spacers, 3);
        line-height: 1;
        font-size: $small-font-size;
    }
    .kapital-woo-quantity-plus, .kapital-woo-quantity-minus{
        margin-right: 0px;
    }
    .kapital-woo-quantity-plus{
        margin-left: 0px;
    }
}
.single_add_to_cart_button {
    @extend .btn;
    @extend .btn-primary;
}

@include media-breakpoint-down('md'){
    .single-product{
        .summary {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        .product-gallery{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        .woocommerce-tabs{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;
        }
    }
}

.carousel{
    .carousel-img-wrapper{
        img{
            max-height: calc(100vh - 10rem);
            height: 100%;
            display: block;
            margin: auto;
            object-fit: contain;
        }
    }
}
#product-modal{
    .close{
        position: fixed;
        right: map-get($spacers, 4);
        top: map-get($spacers, 4);
    }
}
.variations_form, .single_variation{
    & > *:not(:first-child){
        margin-top: map-get($spacers, 3);
    }
    margin-bottom: map-get($spacers, 4);
}


.woocommerce-variation-price .price{
    font-size: $h4-font-size;
}
table.variations{
    table, tr, th, td{
        display: block;
    }
    select{
        @extend .form-select;
    }

    .reset_variations{
        @extend .text-red;
        font-size: $small-font-size;
        background: transparent;
        border: none;
    }
}
.tabs.wc-tabs{
    margin-bottom: map-get($spacers, 5);
    padding-left: 0px;
    list-style: none;
    @extend .row;
    @extend .gx-2;
    @extend .gy-3;

    li{
        @extend .col-auto;
    }
    li a{
        @extend .btn;
    }
    li.active a{
        @extend .btn-primary;
    }
    li:not(.active) a{
        @extend .btn-secondary;
    }

}
