/* 
Modified from understrap
_understrap.scss
_colors.scss
 */

@use "sass:map";

// Adding basic WordPress classes to pass the WordPress.org tests
.sticky,
.gallery-caption,
.bypostauthor,
.wp-caption,
.wp-caption-text {
	max-width: 100% !important;
	font-size: inherit;
}
figcaption{
	@extend .d-block;
	@extend .fs-small;
	@extend .alignnormal;
	@extend .mt-1;
	@extend .ff-sans;
	@extend .text-gray;
	@extend .text-center;
}

//generating bg classes for wordpress from bootstrap colors
@each $name, $color in $colors {
	.has-#{$name}-color,
	.has-#{$name}-color:visited {
		color: var(--#{$prefix}#{$name});
	}
	.has-#{$name}-background-color {
		@extend .bg-#{$name};
		@extend .border-#{$name}
	}
	.wp-block-button:hover{
		.wp-block-button__link.has-white-background-color.has-#{$name}-color {
			& {
				color: var(--#{$prefix}#{$name});
			}
		}
	}
}

/** import from classic editor */
.wp-caption-text{
	@extend .ff-sans;
	line-height: $line-height-small;
	@extend .text-gray;
	@extend .mt-1;
	@extend .text-center;
}

//buttons
.wp-element-button, .wp-block-button__link{
	@extend .btn;
	&:not(.has-background){
		@extend .btn-secondary ;
	}
	&.has-pink-background-color{
		@extend .btn-primary;
	}
	&.has-red-background-color{
		@extend .btn-red;
	}
}

.wp-block-button.is-style-outline{
	@extend .btn-outline;
}

.has-text-align-center{
	@extend .text-center;
}
.is-layout-flex{
	@extend .d-flex;
	@extend .flex-row;
	&.is-vertical{
		@extend .flex-column;
	}
	gap: map-get($spacers, 4);
	&:not(.is-nowrap){
		@extend .flex-wrap;
	}
}

.wp-block-columns.is-layout-flex{
	@extend .d-flex;
}

.is-content-justification-left{
	 @extend .justify-content-start;
}
.is-content-justification-right{
	@extend .justify-content-end;
}
.is-content-justification-center{
	@extend .justify-content-center;
}
.is-content-justification-betweeen{
	@extend .justify-content-between;
}

.screen-reader-text{
	@extend .visually-hidden;
}

.wp-block-social-links{
	@extend .list-unstyled;
	svg{
		width: 2rem;
		height: 2rem;
	}
}

.has-border-color{
	border-style: solid;
}


//embed
//src:: https://gist.github.com/davewarfel/e5d150b0034aeb98adc64b68e85b54e6


.wp-block-embed {
	margin-bottom: 1em;

	&.alignleft,
	&.alignright {
		max-width: 360px;
		width: 100%;
	}

	figcaption {
		margin-top: 0.5em;
		margin-bottom: 1em;
		color: #555d66;
		text-align: center;
		font-size: 13px;
	}

} // .wp-block-embed


	.wp-block-embed.wp-embed-aspect-21-9 .wp-block-embed__wrapper,
	.wp-block-embed.wp-embed-aspect-18-9 .wp-block-embed__wrapper,
	.wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper,
	.wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper,
	.wp-block-embed.wp-embed-aspect-1-1 .wp-block-embed__wrapper,
	.wp-block-embed.wp-embed-aspect-9-16 .wp-block-embed__wrapper,
	.wp-block-embed.wp-embed-aspect-1-2 .wp-block-embed__wrapper {
		position: relative;
	}

	.wp-block-embed.wp-embed-aspect-21-9 .wp-block-embed__wrapper::before,
	.wp-block-embed.wp-embed-aspect-18-9 .wp-block-embed__wrapper::before,
	.wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper::before,
	.wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper::before,
	.wp-block-embed.wp-embed-aspect-1-1 .wp-block-embed__wrapper::before,
	.wp-block-embed.wp-embed-aspect-9-16 .wp-block-embed__wrapper::before,
	.wp-block-embed.wp-embed-aspect-1-2 .wp-block-embed__wrapper::before {
		content: "";
		display: block;
		padding-top: 50%;
	}

	.wp-block-embed.wp-embed-aspect-21-9 .wp-block-embed__wrapper iframe,
	.wp-block-embed.wp-embed-aspect-18-9 .wp-block-embed__wrapper iframe,
	.wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper iframe,
	.wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper iframe,
	.wp-block-embed.wp-embed-aspect-1-1 .wp-block-embed__wrapper iframe,
	.wp-block-embed.wp-embed-aspect-9-16 .wp-block-embed__wrapper iframe,
	.wp-block-embed.wp-embed-aspect-1-2 .wp-block-embed__wrapper iframe {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.wp-block-embed.wp-embed-aspect-21-9 .wp-block-embed__wrapper::before {
		padding-top: 42.85%;
	}

	.wp-block-embed.wp-embed-aspect-18-9 .wp-block-embed__wrapper::before {
		padding-top: 50%;
	}

	.wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper::before {
		padding-top: 56.25%;
	}

	.wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper::before {
		padding-top: 75%;
	}

	.wp-block-embed.wp-embed-aspect-1-1 .wp-block-embed__wrapper::before {
		padding-top: 100%;
	}

	.wp-block-embed.wp-embed-aspect-9-6 .wp-block-embed__wrapper::before {
		padding-top: 66.66%;
	}

	.wp-block-embed.wp-embed-aspect-1-2 .wp-block-embed__wrapper::before {
		padding-top: 200%;
	}

