/* 
Modified from understrap
_understrap.scss
_colors.scss
 */

@use "sass:map";

// Adding basic WordPress classes to pass the WordPress.org tests
.sticky,
.gallery-caption,
.bypostauthor,
.wp-caption,
.wp-caption-text {
	max-width: 100% !important;
	font-size: inherit;
}
figcaption{
	@extend .fs-small;
	@extend .alignnormal;
	@extend .mt-1;
	@extend .ff-sans;
	@extend .text-gray;
	@extend .text-center;
}

//generating bg classes for wordpress from bootstrap colors
@each $name, $color in $colors {
	.has-#{$name}-color,
	.has-#{$name}-color:visited {
		color: var(--#{$prefix}#{$name});
	}
	.has-#{$name}-background-color {
		@extend .bg-#{$name};
		@extend .border-#{$name}
	}
	.wp-block-button:hover{
		.wp-block-button__link.has-white-background-color.has-#{$name}-color {
			& {
				color: var(--#{$prefix}#{$name});
			}
		}
	}
}

/** import from classic editor */
.wp-caption-text{
	@extend .ff-sans;
	line-height: $line-height-small;
	@extend .text-gray;
	@extend .mt-1;
	@extend .text-center;
}

//buttons

.wp-element-button, .wp-block-button__link{
	@extend .btn;
	&:not(.has-background){
		@extend .btn-secondary ;
	}
	&.has-pink-background-color{
		@extend .btn-primary;
	}
	&.has-red-background-color{
		@extend .btn-red;
	}
}

.wp-block-button.is-style-outline{
	@extend .btn-outline;
}

.has-text-align-center{
	@extend .text-center;
}
.is-layout-flex{
	@extend .d-flex;
	@extend .flex-row;
	&.is-vertical{
		@extend .flex-column;
	}
	gap: map-get($spacers, 4);
	&:not(.is-nowrap){
		@extend .flex-wrap;
	}
}

.wp-block-columns.is-layout-flex{
	@extend .d-flex;
}

.is-content-justification-left{
	 @extend .justify-content-start;
}
.is-content-justification-right{
	@extend .justify-content-end;
}
.is-content-justification-center{
	@extend .justify-content-center;
}
.is-content-justification-betweeen{
	@extend .justify-content-between;
}

.screen-reader-text{
	@extend .visually-hidden;
}

.wp-block-social-links{
	@extend .list-unstyled;
	svg{
		width: 2rem;
		height: 2rem;
	}
}