/* 
Modified from understrap
_understrap.scss
_colors.scss
 */

@use "sass:map";

// Adding basic WordPress classes to pass the WordPress.org tests
.sticky,
.gallery-caption,
.bypostauthor,
.wp-caption,
.wp-caption-text {
	font-size: inherit;
}

//generating bg classes for wordpress from bootstrap colors
@each $name, $color in $colors {

	.has-#{$name}-color,
	.has-#{$name}-color:visited {
		color: var(--#{$prefix}#{$name});
	}
	.has-#{$name}-background-color {
		background-color: var(--#{$prefix}#{$name});
		border-color: var(--#{$prefix}#{$name});
	}


	.wp-block-button:hover{
		.wp-block-button__link.has-white-background-color.has-#{$name}-color {
			& {
				color: var(--#{$prefix}#{$name});
			}
		}
	}
}

/** import from classic editor */
.wp-caption-text{
	@extend .ff-sans;
	line-height: $line-height-small;
	@extend .text-gray;
	@extend .mt-1;
	@extend .text-center;
}

