// ==========================================================================
// Badges
// ==========================================================================

$plyr-badge-background: var(--plyr-badge-background, $plyr-color-gray-700) !default;
$plyr-badge-text-color: $body-color !default;
$plyr-badge-border-radius: .5rem !default;
