// ==========================================================================
// Typography
// ==========================================================================

$plyr-font-family: $input_font_family !default;
$plyr-font-size-base: 1rem !default;
$plyr-font-size-small: $font-size-sm !default;
$plyr-font-size-large: $h3-font-size !default;
$plyr-font-size-xlarge: $h4-font-size !default;
$plyr-font-size-time: $font_size_sm !default;
$plyr-font-size-menu: $font_size_sm !default;
$plyr-font-size-badge: $font_size_sm !default;
$plyr-font-weight-regular: 400 !default;
$plyr-font-weight-bold: 700 !default;
$plyr-line-height: $line-height-base !default;
$plyr-font-smoothing: false !default;
